{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
<div class="m-5 container">
    <h1>Program</h1>

    <strong>Acteur :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }} </li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('program_index') }}"><button type="button" class="btn btn-primary">Revenir aux séries</button></a>

    <a href="{{ path('program_edit', {'slug': program.slug}) }}"><button type="button" class="btn btn-secondary">Afficher la série</button></a>
    <hr/>

    {{ include('program/_delete_form.html.twig') }}
</div>
{% endblock %}
