{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="container">
            <h1>{{ program.title }}</h1>
            <h2>Saison {{ season.number }} Episode {{ episode.number }}</h2>
            <h3>{{ episode.title }}</h3>
            <p>Pour résumer : {{ episode.synopsis }}</p>

            <a href="{{ path('wild_season', {'id': season.id }) }}">
                <button class="btn btn-primary">La liste des épisodes</button>
            </a>
            <a href="{{ path('wild_index') }}">
                <button class="btn btn-primary">Revenir aux séries</button>
            </a>

    </div>
{% endblock %}
