{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les séries... de Wild Series</h1>

        {% for program in programs %}
            <div>
                <a href="{{ path('wild_show', {'slug': program.slug}) }}">
                    <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2></a>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">
            <button type="button" class="btn btn-primary">Retour à l'accueil</button>
        </a>
        <a href="/category">
            <button type="button" class="btn btn-secondary">Ajouter une catégorie</button>
        </a>
    </div>
{% endblock %}
