{% extends 'base.html.twig' %}

{% block body %}

    <div class="m-5 container">
        <div>
            <h1>Saison {{ season.number }} de {{ program.title }} </h1>
            <p>Résumé : {{ season.description }}</p>
            <h2>Liste des épisodes</h2>
        </div>
        <div>
            {% for episode in episodes %}
                <a href="{{ path('wild_episode', {'slug': episode.slug}) }}">
                    <li>Episode {{ episode.number }} : {{ episode.title }}</li>
                </a>
            {% endfor %}
        </div>
        <hr/>
        <div>
            <a href="{{ path('wild_show', {'slug': program.slug }) }}">
                <button type="button" class="btn btn-primary">Revenir à la série</button>
            </a>
        </div>
    </div>


{% endblock %}
