{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

<div class="m-5 media">
    <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
        <div class="mt-0 container">
            <h1>{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie de la série : {{ program.category.name }}</p>


            {% for season in seasons %}
                <a href="{{ path('wild_season', { 'id': season.id}) }}">
                    <button type="button" class="btn btn-outline-danger">Découvrez la
                        saison {{ season.number }}</button>
                </a>
            {% endfor %}
        </div>
        <div class="m-5">
            <strong>Acteur :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path('wild_actor',  {'slug': actor.slug}) }}">{{ actor.name }} </a></li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="m-5">
        <a href="{{ path('wild_index') }}">
            <button type="button" class="btn btn-primary">Revenir aux séries</button>
        </a>
    </div>


    {% endblock %}
