{% extends 'base.html.twig' %}

{% block title %}Gestion des acteurs{% endblock %}

{% block body %}
    <div class="m-5 container">
        <h1>Tous les acteurs</h1>
        <div class="m-5"><a href="{{ path('actor_new') }}"><button type="button" class="btn btn-primary">Ajouter un acteur</button></a></div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for actor in actors %}
                <tr>
                    <td>{{ actor.id }}</td>
                    <td>{{ actor.name }}</td>
                    <td>{{ actor.slug }}</td>
                    <td>
                        <a href="{{ path('actor_show', {'slug': actor.slug}) }}">show</a>
                        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
